
<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.nitobi.johngarrett" version="1.0">
<name>Txirula</name> 
<description>
Txirula
</description> 
<author href="http://www.txirula.com" email="info@txirula.com">
Txirula
</author> 
<icon src="http://app.txirula.com/icon.png" width="72" height="72" />
<icon src="http://app.txirula.com/icon.png" width="48" height="48" />
<icon src="http://app.txirula.com/icon.png" width="36" height="36" />
</widget>
